@import "tailwindcss";

@theme {
  --color-primary: #faebd7;
  --color-secondary: #2d86d0;
  --color-accent: #fcf3e7;
  --font-title: speciel-elite;
  --font-text: Passion-one;
}
/* styles.css */
.card-hover-effect {
  @apply transition-transform duration-300 ease-in-out hover:scale-105;
}
.link-hover-effect {
  @apply hover:border-b-2 hover:border-white transition-all duration-200;
  display: inline-block; /* Ensures the border is only around the text */
  padding-bottom: 2px; /* Prevents extra space between text and border */
}
